<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLtkzc8IWpw7yWh0POU-pNpMUSloq4ByY</string>
	<key>GCM_SENDER_ID</key>
	<string>758333746103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesproject</string>
	<key>PROJECT_ID</key>
	<string>notesproject-1ee1f</string>
	<key>STORAGE_BUCKET</key>
	<string>notesproject-1ee1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758333746103:ios:c1e8c7e8dc4a522f2fd632</string>
</dict>
</plist>